<!DOCTYPE html>
<html lang="en-US">

<head>

	<!-- Meta
	============================================= -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intial-scale=1, max-scale=1">

    <meta name="author" content="ExplicitConcepts">
    <!-- description -->
    <meta name="description" content="We are ExplicitConcepts Agency. We have experience in web development allows us to create truly Templates in many categories like PSD Templates, HTML Templates, WordPress Themes, Unbounce Themes and Instapage Theme.">
    <!-- keywords -->
    <meta name="keywords" content="unbounce, unbounce landing page, instapage, instapage landing page, landing page, web design, PSD template, responsive web design, website designed, free web design, flat web design, site template, web de, website, web development">

	<!-- Stylesheets
	============================================= -->
	<link href="css/css-assets.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700i,700" rel="stylesheet">

	<!-- Favicon
	============================================= -->
	<link rel="shortcut icon" href="images/general-elements/favicon/favicon.png">
	<link rel="apple-touch-icon" href="images/general-elements/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/general-elements/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/general-elements/favicon/apple-touch-icon-114x114.png">

	<!-- Title
	============================================= -->
	<title>LeadMask</title>

</head>

<body class="boxed">

	<div id="scroll-progress"><div class="scroll-progress"><span class="scroll-percent"></span></div></div>

	<!-- Document Full Container
	============================================= -->
	<div id="full-container">

		<!-- Header
		============================================= -->
		<header id="header">

			<div id="header-bar-1" class="header-bar">

				<div class="header-bar-wrap">

					<div class="container">
						<div class="row">
							<div class="col-md-12">

								<div class="hb-content">
									<a class="logo logo-header" href="#">
										<img src="images/files/logo-header-alt.png" alt="">
										<h3><span class="colored">Pixeliy</span></h3>
										<span>HTML Template</span>
									</a><!-- .logo end -->
									<div class="hb-meta">
									</div><!-- .hb-meta end -->
								</div><!-- .hb-content end -->

							</div><!-- .col-md-12 end -->
						</div><!-- .row end -->
					</div><!-- .container end -->

				</div><!-- .header-bar-wrap -->

			</div><!-- #header-bar-1 end -->

		</header><!-- #header end -->
	
		<!-- Banner
		============================================= -->
		<section id="banner">

			<div class="banner-parallax" data-banner-height="800">
				<img src="http://via.placeholder.com/1920x1100?text=Image" alt="">
				<div class="overlay-colored color-bg-gradient opacity-95"></div><!-- .overlay-colored end -->
				<div class="slide-content">

					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">

								<div class="banner-center-box text-white text-center">
									<h1>
										Build Your
										<br>
										Next Landing Page
									</h1>
									<div class="description">
										This should be used to tell a story and let your users know a little more about your product or service. How can you benefit them?
									</div>
									<a href="#intro-features" class="arrow-down anim-pulse scroll-to"><i class="fas fa-angle-down"></i></a>
								</div><!-- .banner-center-box end -->

							</div><!-- .col-md-8 end -->
						</div><!-- .row end -->
					</div><!-- .container end -->

				</div><!-- .slide-content end -->
			</div><!-- .banner-parallax end -->

		</section><!-- #banner end -->

		<!-- Content
		============================================= -->
		<section id="content">
		
			<div id="content-wrap">
		
				<!-- === Intro Features =========== -->
				<div id="intro-features" class="flat-section">
		
					<div class="section-content">
		
						<div class="container">
							<div class="row">
								<div class="col-md-10 col-md-offset-1">
		
									<div class="cta-subscribe cta-subscribe-2 box-form">
										<div class="box-img img-bg">
											<img src="http://via.placeholder.com/500x600?text=Image" alt="">
											<div class="overlay-colored color-bg-dark opacity-20"></div>
										</div><!-- .box-img end -->
										<div class="box-content">
											<div class="box-title">
												<h3 class="title">Start Your Free Trial</h3>
												<p>Supporting Call to Action Goes Here</p>
											</div><!-- .box-title end -->
											<form id="form-cta-subscribe-2" class="form-inline redirected">
												<div class="cs-notifications">
													<div class="cs-notifications-content"></div>
												</div><!-- .cs-notifications end -->
												<div class="form-group">
													<input type="text" name="cs2Name" id="cs2Name" class="form-control" placeholder="Your Name *">
												</div><!-- .form-group end -->
												<div class="form-group">
													<input type="text" name="cs2Email" id="cs2Email" class="form-control" placeholder="Your Email *">
												</div><!-- .form-group end -->
												<div class="form-group">
													<input type="submit" class="form-control" value="Call to Action">
												</div><!-- .form-group end -->
											</form><!-- #form-cta-subscribe-2 end -->
										</div><!-- .box-content end -->
									</div><!-- .box-form end -->
		
								</div><!-- .col-md-10 end -->
		
								<div class="divider-120 divider-md-100"></div>
		
								<div class="col-md-12">
		
									<p class="mb-30 text-center">
										Trusted by the world’s most innovative businesses – big and small
									</p>
									<div class="slider-clients">
										<ul class="owl-carousel">
											<li>
												<div class="slide">
													<div class="client-single"><a href="#"><img src="images/files/sliders/clients/img-1.png" alt=""></a></div>
												</div><!-- .slide end -->
											</li>
											<li>
												<div class="slide">
													<div class="client-single"><a href="#"><img src="images/files/sliders/clients/img-2.png" alt=""></a></div>
												</div><!-- .slide end -->
											</li>
											<li>
												<div class="slide">
													<div class="client-single"><a href="#"><img src="images/files/sliders/clients/img-3.png" alt=""></a></div>
												</div><!-- .slide end -->
											</li>
											<li>
												<div class="slide">
													<div class="client-single"><a href="#"><img src="images/files/sliders/clients/img-4.png" alt=""></a></div>
												</div><!-- .slide end -->
											</li>
											<li>
												<div class="slide">
													<div class="client-single"><a href="#"><img src="images/files/sliders/clients/img-5.png" alt=""></a></div>
												</div><!-- .slide end -->
											</li>
											<li>
												<div class="slide">
													<div class="client-single"><a href="#"><img src="images/files/sliders/clients/img-6.png" alt=""></a></div>
												</div><!-- .slide end -->
											</li>
										</ul>
									</div><!-- .slider-clients end -->
		
								</div><!-- .col-md-12 end -->
		
								<hr class="divider-line">
		
								<div class="col-md-8 col-md-offset-2">
		
									<div class="section-title text-center">
										<h2>Create a Beautiful Landing Page In a Minute Not Weeks</h2>
										<p>
											This should be used to tell a story about your product or service. How can you benefit them?
										</p>
									</div><!-- .section-title end -->
		
								</div><!-- .col-md-8 end -->
								<div class="col-sm-12">
		
									<div class="slider-boxes-features">
										<ul class="owl-carousel">
											<li>
												<div class="slide">
													<div class="box-info box-info-2 color-1 img-bg text-center text-white">
														<img src="images/files/box-info-2/img-1.jpg" alt="">
														<div class="overlay-colored color-bg-gradient-1 opacity-90"></div>
														<div class="box-icon icon"><i class="flaticon-idea"></i></div>
														<div class="box-content">
															<h5>Unlimited Features</h5>
															<p>This should be used to tell a story and let your users know a little more about your product and
																service.</p>
														</div><!-- .box-content end -->
													</div><!-- .box-info end -->
												</div><!-- .slide end -->
											</li>
											<li>
												<div class="slide">
													<div class="box-info box-info-2 color-2 img-bg text-center text-white">
														<img src="images/files/box-info-2/img-2.jpg" alt="">
														<div class="overlay-colored color-bg-gradient-2 opacity-90"></div>
														<div class="box-icon icon"><i class="flaticon-calendar-1"></i></div>
														<div class="box-content">
															<h5>Great Results</h5>
															<p>This should be used to tell a story and let your users know a little more about your product and
																service.</p>
														</div><!-- .box-content end -->
													</div><!-- .box-info end -->
												</div><!-- .slide end -->
											</li>
											<li>
												<div class="slide">
													<div class="box-info box-info-2 color-3 img-bg text-center text-white">
														<img src="images/files/box-info-2/img-3.jpg" alt="">
														<div class="overlay-colored color-bg-gradient-3 opacity-90"></div>
														<div class="box-icon icon"><i class="flaticon-notebook-4"></i></div>
														<div class="box-content">
															<h5>New Design</h5>
															<p>This should be used to tell a story and let your users know a little more about your product and
																service.</p>
														</div><!-- .box-content end -->
													</div><!-- .box-info end -->
												</div><!-- .slide end -->
											</li>
											<li>
												<div class="slide">
													<div class="box-info box-info-2 color-1 img-bg text-center text-white">
														<img src="images/files/box-info-2/img-1.jpg" alt="">
														<div class="overlay-colored color-bg-gradient-1 opacity-90"></div>
														<div class="box-icon icon"><i class="flaticon-idea"></i></div>
														<div class="box-content">
															<h5>Unlimited Features</h5>
															<p>This should be used to tell a story and let your users know a little more about your product and
																service.</p>
														</div><!-- .box-content end -->
													</div><!-- .box-info end -->
												</div><!-- .slide end -->
											</li>
											<li>
												<div class="slide">
													<div class="box-info box-info-2 color-2 img-bg text-center text-white">
														<img src="images/files/box-info-2/img-2.jpg" alt="">
														<div class="overlay-colored color-bg-gradient-2 opacity-90"></div>
														<div class="box-icon icon"><i class="flaticon-calendar-1"></i></div>
														<div class="box-content">
															<h5>Great Results</h5>
															<p>This should be used to tell a story and let your users know a little more about your product and
																service.</p>
														</div><!-- .box-content end -->
													</div><!-- .box-info end -->
												</div><!-- .slide end -->
											</li>
											<li>
												<div class="slide">
													<div class="box-info box-info-2 color-3 img-bg text-center text-white">
														<img src="images/files/box-info-2/img-3.jpg" alt="">
														<div class="overlay-colored color-bg-gradient-3 opacity-90"></div>
														<div class="box-icon icon"><i class="flaticon-notebook-4"></i></div>
														<div class="box-content">
															<h5>New Design</h5>
															<p>This should be used to tell a story and let your users know a little more about your product and
																service.</p>
														</div><!-- .box-content end -->
													</div><!-- .box-info end -->
												</div><!-- .slide end -->
											</li>
										</ul>
									</div><!-- .slider-boxes-features end -->
		
								</div><!-- .col-sm-12 end -->
		
							</div><!-- .row end -->
						</div><!-- .container end -->
		
					</div><!-- .section-content end -->
		
				</div><!-- .flat-section end -->
		
				<!-- === Some Facts =========== -->
				<div id="some-facts" class="parallax-section text-white">
		
					<img src="http://via.placeholder.com/1920x1100?text=Image" alt="">
					<div class="overlay-colored color-bg-dark opacity-50"></div><!-- .overlay-colored end -->
					<div class="section-content">
		
						<div class="container">
							<div class="row">
								<div class="col-lg-6 text-center">
		
									<h3>We are working to provide all people with access to the Great Services</h3>
		
								</div><!-- .col-lg-6 end -->
								<div class="col-lg-3 col-sm-6">
		
									<div class="box-info box-info-1 text-white text-center">
										<div class="box-icon icon"><i class="flaticon-users"></i></div>
										<div class="box-content">
											<h3><span class="counter-stats">685</span></h3>
											<h6>Projects</h6>
										</div><!-- .box-content end -->
									</div><!-- .box-info end -->
		
								</div><!-- .col-lg-3 end -->
								<div class="col-lg-3 col-sm-6 mt-sm-50">
		
									<div class="box-info box-info-1 text-white text-center">
										<div class="box-icon icon"><i class="flaticon-internet"></i></div>
										<div class="box-content">
											<h3><span class="counter-stats">8653</span></h3>
											<h6>Clients</h6>
										</div><!-- .box-content end -->
									</div><!-- .box-info end -->
		
								</div><!-- .col-lg-3 end -->
							</div><!-- .row end -->
						</div><!-- .container end -->
		
					</div><!-- .section-content end -->
		
				</div><!-- .parallax-section end -->
		
				<!-- === Our Services =========== -->
				<div id="our-services" class="flat-section text-white">
		
					<div class="section-content">
		
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
		
									<div class="section-title text-center">
										<h2>We Provide The Solutions to Grow Your Business</h2>
										<p>
											This should be used to tell a story about your product or service. How can you benefit them?
										</p>
									</div><!-- .section-title end -->
		
								</div><!-- .col-md-8 end -->
								<div class="col-md-4 col-sm-6">
		
									<div class="box-info box-info-3 text-white">
										<div class="box-icon icon color-1"><i class="flaticon-menu-1"></i></div>
										<div class="box-content">
											<h5>Interface Design</h5>
											<p>This should be used to tell a story and let your users know a little more about your product and service.</p>
											<ul class="list dot">
												<li>Responsive Design</li>
												<li>Great Support</li>
												<li>New & Great Design</li>
												<li>Fresh Design</li>
											</ul><!-- .list end -->
										</div><!-- .box-content end -->
									</div><!-- .box-info end -->
		
								</div><!-- .col-md-4 end -->
								<div class="col-md-4 col-sm-6 mt-sm-50">
		
									<div class="box-info box-info-3 text-white">
										<div class="box-icon icon color-2"><i class="flaticon-database-2"></i></div>
										<div class="box-content">
											<h5>User Experience</h5>
											<p>This should be used to tell a story and let your users know a little more about your product and service.</p>
											<ul class="list dot">
												<li>Looking Great on any Device</li>
												<li>Highest Speed</li>
												<li>Useful and Intuitive Interface</li>
												<li>Unlimited Features</li>
											</ul><!-- .list end -->
										</div><!-- .box-content end -->
									</div><!-- .box-info end -->
		
								</div><!-- .col-md-4 end -->
								<div class="col-md-4 col-sm-6 mt-md-50">
		
									<div class="box-info box-info-3 text-white">
										<div class="box-icon icon color-3"><i class="flaticon-smartphone-6"></i></div>
										<div class="box-content">
											<h5>Mobile Application</h5>
											<p>This should be used to tell a story and let your users know a little more about your product and service.</p>
											<ul class="list dot">
												<li>User Experience (UX) tTesting</li>
												<li>Wire-Framing Layouts</li>
												<li>Custom Design Architecture</li>
												<li>Professional Development Process</li>
											</ul><!-- .list end -->
										</div><!-- .box-content end -->
									</div><!-- .box-info end -->
		
								</div><!-- .col-md-4 end -->
							</div><!-- .row end -->
						</div><!-- .container end -->
		
					</div><!-- .section-content end -->
		
				</div><!-- .flat-section end -->
		
				<!-- === Clients Testimonials =========== -->
				<div id="clients-testimonials" class="flat-section">
		
					<div class="section-content">
		
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
		
									<div class="section-title text-center">
										<h2>What People Will Talk About Us After Using Our Services</h2>
										<p>
											This should be used to tell a story about your product or service. How can you benefit them?
										</p>
									</div><!-- .section-title end -->
		
								</div><!-- .col-md-8 end -->
								<div class="col-md-12">
		
									<div class="slider-testimonials">
										<ul class="owl-carousel">
											<li>
												<div class="slide">
													<div class="testimonial-single-1">
														<div class="ts-person">
															<div class="ts-img">
																<img src="http://via.placeholder.com/80x80?text=Image" alt="">
															</div><!-- .ts-img end -->
															<h5>Mark Smith</h5>
															<span>Envato Inc.</span>
														</div><!-- .ts-person end -->
														<div class="ts-content">
															This should be used to tell a story and let your users know about your product or service.
															<div class="rating">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
															</div><!-- .rating end -->
														</div><!-- .ts-content end -->
													</div><!-- .testimonial-single-1 -->
												</div><!-- .slide end -->
											</li>
											<li>
												<div class="slide">
													<div class="testimonial-single-1">
														<div class="ts-person">
															<div class="ts-img">
																<img src="http://via.placeholder.com/80x80?text=Image" alt="">
															</div><!-- .ts-img end -->
															<h5>Vera Duncan</h5>
															<span>PayPal Inc.</span>
														</div><!-- .ts-person end -->
														<div class="ts-content">
															This should be used to tell a story and let your users know about your product or service.
															<div class="rating">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
															</div><!-- .rating end -->
														</div><!-- .ts-content end -->
													</div><!-- .testimonial-single-1 -->
												</div><!-- .slide end -->
											</li>
											<li>
												<div class="slide">
													<div class="testimonial-single-1">
														<div class="ts-person">
															<div class="ts-img">
																<img src="http://via.placeholder.com/80x80?text=Image" alt="">
															</div><!-- .ts-img end -->
															<h5>Bryce Vaughn</h5>
															<span>Unbounce Inc.</span>
														</div><!-- .ts-person end -->
														<div class="ts-content">
															This should be used to tell a story and let your users know about your product or service.
															<div class="rating">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
															</div><!-- .rating end -->
														</div><!-- .ts-content end -->
													</div><!-- .testimonial-single-1 -->
												</div><!-- .slide end -->
											</li>
											<li>
												<div class="slide">
													<div class="testimonial-single-1">
														<div class="ts-person">
															<div class="ts-img">
																<img src="http://via.placeholder.com/80x80?text=Image" alt="">
															</div><!-- .ts-img end -->
															<h5>Mark Smith</h5>
															<span>Envato Inc.</span>
														</div><!-- .ts-person end -->
														<div class="ts-content">
															This should be used to tell a story and let your users know about your product or service.
															<div class="rating">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
															</div><!-- .rating end -->
														</div><!-- .ts-content end -->
													</div><!-- .testimonial-single-1 -->
												</div><!-- .slide end -->
											</li>
											<li>
												<div class="slide">
													<div class="testimonial-single-1">
														<div class="ts-person">
															<div class="ts-img">
																<img src="http://via.placeholder.com/80x80?text=Image" alt="">
															</div><!-- .ts-img end -->
															<h5>Vera Duncan</h5>
															<span>PayPal Inc.</span>
														</div><!-- .ts-person end -->
														<div class="ts-content">
															This should be used to tell a story and let your users know about your product or service.
															<div class="rating">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
															</div><!-- .rating end -->
														</div><!-- .ts-content end -->
													</div><!-- .testimonial-single-1 -->
												</div><!-- .slide end -->
											</li>
										</ul>
									</div><!-- .slider-testimonials end -->
		
								</div><!-- .col-md-12 end -->
							</div><!-- .row end -->
						</div><!-- .container end -->
		
					</div><!-- .section-content end -->
		
				</div><!-- .parallax-section end -->
		
				<!-- === CTA Title 1 =========== -->
				<div id="cta-title-1" class="parallax-section text-white">
		
					<img src="http://via.placeholder.com/1920x1100?text=Image" alt="">
					<div class="overlay-colored color-bg-dark opacity-50"></div><!-- .overlay-colored end -->
					<div class="section-content">
		
						<div class="container">
							<div class="row">
								<div class="col-md-12 text-center">
		
		
									<h1>Grab Your Service and Get Your Free Trial Now!</h1>
									<p>
										This should be used to tell a story and let your users know a little more about your product or service. How
										can
										you benefit them?
									</p>
									<a class="btn scroll-to x-large colorful hover-colorful-darken mt-40" href="#banner">Call to Action</a>
		
								</div><!-- .col-md-12 end -->
							</div><!-- .row end -->
						</div><!-- .container end -->
		
					</div><!-- .section-content end -->
		
				</div><!-- .flat-section end -->
		
			</div><!-- #content-wrap -->
		
		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer">

			<div id="footer-bar-1" class="footer-bar text-white">
			
				<div class="footer-bar-wrap">
			
					<div class="container">
						<div class="row">
							<div class="col-md-12">
			
								<div class="fb-row">
									<div class="col-sm-4">

										<div class="box-info box-info-4 text-center mb-sm-50">
											<div class="box-content">
												<h5>Our Address</h5>
												<p>
													795 South Park, Wonderlan
													<br>
													CA 94107, Australia
												</p>
											</div><!-- .box-content end -->
										</div><!-- .box-info end -->

									</div><!-- .col-sm-4 end -->
									<div class="col-sm-4">
									
										<div class="box-info box-info-4 text-center mb-sm-50">
											<div class="box-content">
												<h5>Our Phones</h5>
												<p>
													+201093515252 - Office
													<br>
													+201093515252 - Fax
												</p>
											</div><!-- .box-content end -->
										</div><!-- .box-info end -->
									
									</div><!-- .col-sm-4 end -->
									<div class="col-sm-4">
									
										<div class="box-info box-info-4 text-center">
											<div class="box-content">
												<h5>Email Contact</h5>
												<p>
													ExplicitConcepts@Envato.com
													<br>
													Morad@Market.com
												</p>
											</div><!-- .box-content end -->
										</div><!-- .box-info end -->
									
									</div><!-- .col-sm-4 end -->
								</div><!-- .fb-row end -->
			
							</div><!-- .col-md-12 end -->
						</div><!-- .row end -->
					</div><!-- .container end -->
			
				</div><!-- .footer-bar-wrap -->
			
			</div><!-- #footer-bar-1 end -->

			<div id="footer-bar-2" class="footer-bar">

				<div class="footer-bar-wrap">

					<div class="container">
						<div class="row">
							<div class="col-md-12">

								<div class="fb-row">
									<div class="copyrights-message">2018 - 2019 © <a href="https://themeforest.net/user/morad?ref=morad" target="_blank"><span class="colored">Morad</span></a>. All Rights Reserved.</div>
									<ul class="social-icons animated x4 grey hover-colorful icon-only">
										<li><a class="si-facebook" href="#"><i class="fa fa-facebook"></i><i class="fa fa-facebook"></i></a></li>
										<li><a class="si-twitter" href="#"><i class="fa fa-twitter"></i><i class="fa fa-twitter"></i></a></li>
										<li><a class="si-instagramorange" href="#"><i class="fa fa-instagram"></i><i class="fa fa-instagram"></i></a></li>
									</ul><!-- .social-icons end -->
								</div><!-- .fb-row end -->

							</div><!-- .col-md-12 end -->
						</div><!-- .row end -->
					</div><!-- .container end -->

				</div><!-- .footer-bar-wrap -->

			</div><!-- #footer-bar-2 end -->

		</footer><!-- #footer end -->

	</div><!-- #full-container end -->

	<a class="scroll-top-icon scroll-top" href="#"><i class="fa fa-angle-up"></i></a>

	<!-- External JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/jRespond.min.js"></script>
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.fitvids.js"></script>
	<script src="js/jquery.stellar.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.mb.YTPlayer.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/simple-scrollbar.min.js"></script>
	<script src='js/functions.js'></script>

</body>
</html>