<!DOCTYPE html>
<html lang="en-US">

<head>

	<!-- Meta
	============================================= -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intial-scale=1, max-scale=1">

    <meta name="author" content="ExplicitConcepts">
    <!-- description -->
    <meta name="description" content="Because your home deserves to be noticed">
    <!-- keywords -->
    <meta name="keywords" content=",furniture ,interior design ,home decor ,design ,interior ,furniture design ,home ,decor ,architecture ,sofa ,interiors ,home design ,decoration ,art ,living room ,luxury ,wood ,interior designer ,vintage ,handmade ,furniture jepara ,woodworking ,designer ,mebel ,style ,furniture jakarta ,furniture murah ,interior decor">

	<!-- Stylesheets
	============================================= -->
	<link href="css/css-assets.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700i,700" rel="stylesheet">


	<!-- Title
	============================================= -->
	<title>Jomaatex</title>
</head>

<body class="page-thank-you">

	<div id="scroll-progress"><div class="scroll-progress"><span class="scroll-percent"></span></div></div>

	<!-- Document Full Container
	============================================= -->
	<div id="full-container">

		<!-- Banner
		============================================= -->
		<section id="banner">

			<div class="banner-parallax" data-banner-height="850">
				<img src="./background.jpeg" alt="">
				<div class="overlay-colored color-bg-gradient opacity-90"></div><!-- .overlay-colored end -->
				<div class="slide-content">

					<div class="container">
						<div class="row">
							<div class="col-md-12">

								<div class="banner-center-box text-center text-white">
									<a href="index-leadgen-1.html"><img class="banner-logo" src="./jomaatex_logo.png" alt=""></a>
									<h1 class="p-0 m-0">Have a Blessed Ramadan</h1>
									<h5 class="p-0 m-0">
										Download & Share your Greeting for Ramadan on Instagram Story, Make sure to mention us in order to get the chance to win 250,00LBP
									</h5>
									<div class="video-preview vp-banner">
										<a class="img-bg lightbox-iframe" href="https://vimeo.com/45830194">
											<img src="./results/<%= filename %>" alt="">
										</a><!-- .img-bg end -->

									</div><!-- .video-preview end -->
									<a class="btn large white hover-dark mt-60" href="./results/<%= filename %>" download="jomaatex.jpeg">Download Image</a>

								</div><!-- .banner-center-box end -->

							</div><!-- .col-md-12 end -->
						</div><!-- .row end -->
					</div><!-- .container end -->
				</div><!-- .slide-content end -->
			</div><!-- .banner-parallax end -->

		</section><!-- #banner end -->

		<!-- Footer
		============================================= -->
		<footer id="footer">
		
			<div id="footer-bar-1" class="footer-bar text-white">
		
				<div class="footer-bar-wrap">
		
					<div class="container">
						<div class="row">
							<div class="col-md-12">
		
								<div class="fb-row">
									<div class="col-sm-4">
		
										<div class="box-info box-info-4 text-center mb-sm-50">
											<div class="box-content">
												<h5>Our Address</h5>
												<p>
													Saida Port <br/> Near Khan el Franj
												</p>
											</div><!-- .box-content end -->
										</div><!-- .box-info end -->
		
									</div><!-- .col-sm-4 end -->
									<div class="col-sm-4">
		
										<div class="box-info box-info-4 text-center mb-sm-50">
											<div class="box-content">
												<h5>Our Phones</h5>
												<p>
													07 721 279 - Office
													<br>
													07 721 279 - Whatsapp
												</p>
											</div><!-- .box-content end -->
										</div><!-- .box-info end -->
		
									</div><!-- .col-sm-4 end -->
									<div class="col-sm-4">
		
										<div class="box-info box-info-4 text-center">
											<div class="box-content">
												<h5>Email Contact</h5>
												<p>
													info@jomaatex.com
												</p>
											</div><!-- .box-content end -->
										</div><!-- .box-info end -->
		
									</div><!-- .col-sm-4 end -->
								</div><!-- .fb-row end -->
		
							</div><!-- .col-md-12 end -->
						</div><!-- .row end -->
					</div><!-- .container end -->
		
				</div><!-- .footer-bar-wrap -->
		
			</div><!-- #footer-bar-1 end -->
		
			<div id="footer-bar-2" class="footer-bar">
		
				<div class="footer-bar-wrap">
		
					<div class="container">
						<div class="row">
							<div class="col-md-12">
		
								<div class="fb-row">
									<div class="copyrights-message">2022 © <a href="https://bit.ly/3JNFkpm" target="_blank"><span
											 class="colored">Hamzah Jomaa</span></a>. All Rights Reserved.</div>
									<ul class="social-icons animated x4 grey hover-colorful icon-only">
										<li><a class="si-facebook" href="#"><i class="fa fa-facebook"></i><i class="fa fa-facebook"></i></a></li>
										<li><a class="si-twitter" href="#"><i class="fa fa-twitter"></i><i class="fa fa-twitter"></i></a></li>
										<li><a class="si-instagramorange" href="#"><i class="fa fa-instagram"></i><i class="fa fa-instagram"></i></a></li>
									</ul><!-- .social-icons end -->
								</div><!-- .fb-row end -->
		
							</div><!-- .col-md-12 end -->
						</div><!-- .row end -->
					</div><!-- .container end -->
		
				</div><!-- .footer-bar-wrap -->
		
			</div><!-- #footer-bar-2 end -->
		
		</footer><!-- #footer end -->

	</div><!-- #full-container end -->

	<a class="scroll-top-icon scroll-top" href="#"><i class="fa fa-angle-up"></i></a>

	<!-- External JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/jRespond.min.js"></script>
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/jquery.fitvids.js"></script>
	<script src="js/jquery.stellar.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.mb.YTPlayer.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/simple-scrollbar.min.js"></script>
	<script src='js/functions.js'></script>

</body>
</html>
